*.dcu
*.exe
*.log
*.local
*.skincfg
*.identcache
*.zip
*.bak
*.dsk
*.rar
*.png
*.gdb
*.fdb
*.~*~
*.dfm.~*~
*.~*
*~
*.~*
*.*~
~$*
._*
.DS_Store
Thumbs.db
desktop.ini
**/__recovery
__history
RE:(?i).*\.dsk
RE:(?i).*\.vlb
RE:(?i).*\.bak
03-Erp\prj\*.dsk
_BASE_
*_BASE_*.*
*_LOCAL_*.*
03-ERP/frm/frmAnulacionPorNumeracion_BACKUP_2596.pas
*_BACKUP_*.*
*_REMOTE_*.*
*.orig
*.rsm
