ABRIR 			RCDATA Imagenes\ABRIR.BMP
ACEPTAR			RCDATA Imagenes\ACEPTAR.BMP
ACREDITAR		RCDATA Imagenes\ACEPTAR.BMP
ACTUALIZAR		RCDATA Imagenes\ACTUALIZAR.BMP
ADUANAS			RCDATA Imagenes\ADUANAS.BMP
AGREGAR			RCDATA Imagenes\AGREGAR.BMP
ANTERIOR 		RCDATA Imagenes\ANTERIOR.BMP
AYUDA 			RCDATA Imagenes\AYUDA.BMP
CANCELAR 		RCDATA Imagenes\CANCELAR.BMP
CARGAR 			RCDATA Imagenes\ABRIR.BMP
COBRO 			RCDATA Imagenes\COBRO.BMP
CONECTAR 		RCDATA Imagenes\CONECTAR.BMP
CONFIGURAR 		RCDATA Imagenes\CONFIGURAR.BMP
CONFIRMAR 		RCDATA Imagenes\ACEPTAR.BMP
DETALLE 		RCDATA Imagenes\DETALLE.BMP
ELIMINAR 		RCDATA Imagenes\ELIMINAR.BMP
ENTRADA 		RCDATA Imagenes\ANTERIOR.BMP
EXAMINAR 		RCDATA Imagenes\ABRIR.BMP
EXPORTAR 		RCDATA Imagenes\SIGUIENTE.BMP
FILTRAR 		RCDATA Imagenes\FILTRAR.BMP
FINALIZAR 		RCDATA Imagenes\FINALIZAR.BMP
GENERAR  		RCDATA Imagenes\ACEPTAR.BMP
GRABAR 			RCDATA Imagenes\GUARDAR.BMP
GRAFICAR 		RCDATA Imagenes\GRAFICO.BMP
GRAFICOGRILLA 	RCDATA Imagenes\GRAFICOGRILLA.BMP
IMPORTAR 		RCDATA Imagenes\SIGUIENTE.BMP
IMPRIMIR 		RCDATA Imagenes\IMPRIMIR.BMP
MODIFICAR 		RCDATA Imagenes\MODIFICAR.BMP
NUEVITO 		RCDATA Imagenes\AGREGAR_CHICO.BMP
NUEVO 			RCDATA Imagenes\AGREGAR.BMP
OTRASCUENTAS 	RCDATA Imagenes\OTRASCUENTAS.BMP
PAGO 			RCDATA Imagenes\PAGO.BMP
PORDEFECTO 		RCDATA Imagenes\PORDEFECTO.BMP
QUITAR 			RCDATA Imagenes\ELIMINAR.BMP
RESULTADOS 		RCDATA Imagenes\RESULTADO.BMP
SALIDA 			RCDATA Imagenes\SALIR.BMP
SALIR 			RCDATA Imagenes\SALIR.BMP
SELECCIONARCAE 	RCDATA Imagenes\SELECCIONARCAE.BMP
SIGUIENTE 		RCDATA Imagenes\SIGUIENTE.BMP
VISTAPREVIA 	RCDATA Imagenes\VISTAPREVIA.BMP