actDatosFijos           RCDATA Imagenes\1_actDatosFijos.Png
actListadoDatosFijos    RCDATA Imagenes\2_actListadoDatosFijos.Png
actInmuebles            RCDATA Imagenes\3_actInmuebles.Png
actListadoInmuebles     RCDATA Imagenes\4_actListadoInmuebles.Png
actContratosEscalonados RCDATA Imagenes\5_actContratosEscalonados.Png
actListadoContratosEscalonados RCDATA Imagenes\6_actListadocontratosEscalonados.Png
actAutomatizacion       RCDATA Imagenes\7_actAutomatizacion.Png
actMovimientos          RCDATA Imagenes\8_actMovimientos.Png
actGenAutom             RCDATA Imagenes\9_actGenAutom.Png
actabmNotas             RCDATA Imagenes\10_actABMNotas.Png
actRecordatorio         RCDATA Imagenes\11_actRecordatorio.Png
actRazonesSociales      RCDATA Imagenes\12_actRazonesSociales.Png
actSobres               RCDATA Imagenes\13_actSobres.Png
actImpuestosPendientes  RCDATA Imagenes\14_actImpuestosPendientes.Png
actPlanillaCaja         RCDATA Imagenes\15_actPlanillaCaja.Png
actRecibosPendientes    RCDATA Imagenes\16_actRecibosPendientes.Png
actReciboInquilino    RCDATA Imagenes\17_actReciboInquilino.Png
actLiquidacionPropietario    RCDATA Imagenes\18_actLiquidacionPropietario.Png
actReciboComisiones    RCDATA Imagenes\19_actReciboComisiones.Png
actReciboSenaInmueble    RCDATA Imagenes\20_actReciboSenaInmuebles.Png
actReciboReservaInmueble    RCDATA Imagenes\21_actReciboReservaInmuebles.Png
actReciboReservaVenta    RCDATA Imagenes\22_actReciboReservaVenta.Png
actReciboSenaInmueblesVta    RCDATA Imagenes\23_actReciboSenaVenta.Png
actUsuarios              RCDATA Imagenes\24_actUsuarios.png
actListadoCobrados       RCDATA Imagenes\25_actListadoCobrados.png
actListadoLiquidados     RCDATA Imagenes\26_actListadoLiquidados.png
actCtaCteInquilinos      RCDATA Imagenes\27_actCtaCteInquilinos.png
actCtaCtePropietarios    RCDATA Imagenes\28_actCtaCtePropietarios.png
actCtaCteColaboradores   RCDATA Imagenes\29_actCtaCteColaboradores.png
actListadoDeudaxPropietario  RCDATA Imagenes\30_actListadoDeudaxPropietario.png
actListadoDeudaInquilinos  RCDATA Imagenes\31_actListadoEntregaLiquidaciones.png
actListadoEntregaLiquidaciones  RCDATA Imagenes\32_actListadoEntregaLiquidaciones.png
actListadoCobroInquilino  RCDATA Imagenes\33_actListadoCobroInquilino.png
actListadoComisiones  RCDATA Imagenes\34_actListadoComisiones.png
actHistorialRetiroLiquidaciones  RCDATA Imagenes\35_actHistorialRetiroLiquidaciones.png
actHistorialPagoInquilinos  RCDATA Imagenes\36_actHistorialPagoInquilinos.png
actBackup RCDATA Imagenes\37_actBackup.png
actPasarHistorico RCDATA Imagenes\38_actPasarHistorico.png
actRecuperarHistorico RCDATA Imagenes\39_actRecuperarHistorico.png
actTiposIVA RCDATA Imagenes\40_actTiposIVA.png
actFacturaA    RCDATA Imagenes\41_actFacturaA.Png
actFacturaB    RCDATA Imagenes\42_actFacturaB.Png
actCajas       RCDATA Imagenes\43_actCajas.Png
actConfiguracionMail RCDATA Imagenes\44_actConfiguracionMail.Png
actCargaNovedades RCDATA Imagenes\45_actCargaNovedades.png
actComisionesEscalonadas RCDATA Imagenes\46_actComisionesEscalonadas.png
actListadoComisionesEscalonadas RCDATA Imagenes\47_actListadoComisionesEscalonadas.Png
actLiquidacionesPendientes RCDATA Imagenes\48_actLiquidacionesPendientes.Png
actListadoRecupero RCDATA Imagenes\49_actListadoRecupero.Png
actListadoComisionesCobradas RCDATA Imagenes\50_actListadoComisionesCobradas.Png
actImpuestosYServicios RCDATA Imagenes\51_actImpuestosYServicios.Png
actPorcentajesPropiedad RCDATA Imagenes\52_actPorcentajesPropiedad.Png
actIdentificacion RCDATA Imagenes\53_actIdentificacion.Png
actActualizacionValores RCDATA Imagenes\54_actActualizacionValores.Png
actCrearMovimientos RCDATA Imagenes\55_actCrearMovimientos.Png
actImpuestosPagados RCDATA Imagenes\56_actImpuestosPagados.Png
actDevolverDineroACaja RCDATA Imagenes\57_actDevolverDineroACaja.Png
actCajaDiaria RCDATA Imagenes\58_actCajaDiaria.Png
actRubrosDatosFijos RCDATA Imagenes\59_actRubrosDatosFijos.Png
actIndicadores RCDATA Imagenes\60_actIndicadores.Png
actRubrosIndicadores RCDATA Imagenes\61_actRubrosIndicadores.Png
actTablero RCDATA Imagenes\62_actTablero.Png
actRecibos RCDATA Imagenes\20_actReciboSenaInmuebles.Png
actRecibosHistoricos    RCDATA Imagenes\16_actRecibosPendientes.Png
actLiquidacionesHistoricas    RCDATA Imagenes\48_actLiquidacionesPendientes.Png
actCategoriasVales RCDATA Imagenes\52_actPorcentajesPropiedad.Png

